/**
 *	admin公用样式
 * 
 */

@import url(framework.import.css);
body{background:#ececec ;}
.header{background:#4d7496 ; height: 50px;}
.header .inner{width: 1200px; margin: 0 auto;}
.header .tools{float: right;}
.header .tools .tools-item{color: #fff;display: inline-block;font-size: 12px;padding: 15px 10px;}

.container{width: 1200px;margin: 0 auto;}
.container:after{clear: both;display: none;visibility: hidden;content: ".";font-size: 0;height: 0;}
.side{float: left; width: 220px;border: 1px solid #d1d1d1;background:#f9f9f9 ; margin-top: 15px;}

.side .side-item a{display: block;padding: 6px 15px; color: #787878;}
.side .side-item-title{font-size: 16px;border-top: 1px solid #f5f5f5;border-bottom: 1px solid #efefef;padding: 6px 15px; color: #787878;}
.side .side-sub-item{padding: 5px 15px;}

.main{float: left; border: 1px solid #D1D1D1; background: #F9F9F9; width: 961px;margin-left: 15px; margin-top: 15px;}


/*home*/

