/**
 *	index样式
 * 
 */
@import url(framework.import.css);
body{background:url(../images/c-bg.png) repeat left top;}
.header{height:85px;background:#000;}
.header .icon-hua-right{float:right;width:15px;height:30px;margin-top:25px;background-image:url(../images/nav-right.png);}
.header .icon-hua-left{float:left;width:15px;height:30px;margin-top:25px;background-image:url(../images/nav-left.png);}
.header .inner{width:1200px;margin:0 auto;}
.header .logo{display:inline-block;zoom:1;padding-top:20px;}
.header .icon-logo{width:41px;height:40px;background-image:url(../images/logo.png);}
.header .logo .name{font-size:20px;padding-left:10px;vertical-align:middle;color:#fff;}
.header .logo:hover,.header .logo:hover .name{text-decoration:none;}
.header .nav{float:right;height:40px;margin-top:30px;padding:0 20px;color:#fff;}
.nav .nav-item{font-size:15px;line-height:24px;display:inline-block;zoom:1;padding:0 8px;color:#fff;}
.nav .nav-item:hover{text-decoration:none;color:#fee84f;}
.nav .nav-item .icon{margin-right:4px;}
.icon-home{width:24px;height:24px;background-image:url(../images/icon-yun.png);}
.icon-car{width:24px;height:24px;background-image:url(../images/icon-set.png);}
.icon-ly{width:24px;height:24px;background-image:url(../images/icon-help.png);}
.icon-zixun{width:24px;height:24px;background-image:url(../images/icon-ts.png);}
.icon-about{width:24px;height:24px;background-image:url(../images/icon-jt.png);}
.banner .inner{position:relative;margin:0 auto;}
.banner .line{width:100%;background:url(../images/y-bg.png) left bottom;}
.banner .line:after{font-size:0;display:none;visibility:hidden;clear:both;zoom:1;height:0;content:'.';}
.banner .line i{display:block;float:left;overflow:hidden;height:6px;}
.banner .line .line-1{width:10%;background-color:#025ebc;}
.banner .line .line-2{width:20%;background-color:#54c11b;}
.banner .line .line-3{width:30%;background-color:#ffea00;}
.banner .line .line-4{width:40%;background-color:#f60200;}
.banner .line p{height:70px;background:url(../images/welcome.png) no-repeat center center;}
.container .inner{width:1200px;margin:0 auto;}
.quick{float:left;margin-top:30px;border:1px solid #d2d2d2;background:url(../images/y-bg.png);}
.quick .quick-hd{font-size:22px;padding:20px 20px 10px 20px;border-bottom:1px solid #d2d2d2;background:url(../images/zxdl2.png) no-repeat  40px bottom;}
.quick .quick-bd{padding:20px;border-bottom:1px solid #d2d2d2;background:#f9f9f9;}
.quick .quick-bd li{padding:5px 0;}
.quick .quick-bd li label{font-size:14px;margin-right:8px;}
.quick .quick-bd li input{line-height:22px;width:180px;height:22px;border:1px solid #ccc;}
.quick .quick-ft{width:250px;height:100px;padding:10px 20px;background:url(../images/y-bg.png);}
.select-btn{display:inline-block;zoom:1;padding:8px 15px;color:#fff;background:#3671ba;}
.select-btn:hover{text-decoration:none;background:#447dc2;}
.news{float:left;width:500px;height:362px;margin-top:30px;margin-left:30px;}
.news .hd{font-size:16px;padding:10px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;background:url(../images/zxdl2.png) no-repeat  8px bottom;}
.news .bd{padding:10px;}
.news .news-hot{overflow:hidden;height:100px;}
.news .news-hot .hot-img{float:left;overflow:hidden;width:200px;height:100px;margin-right:10px;margin-bottom:10px;}
.news .news-hot .hot-title{font-size:14px;padding-bottom:8px;color:#333;}
.news .news-hot .hot-content{line-height:18px;overflow:hidden;height:70px;}
.news .news-list{clear:both;padding:5px 0 0 0;}
.news .news-list li{padding:5px 0;}
.news .news-list li span{margin-right:8px;}
.news .news-list li a{display:inline-block;overflow:hidden;zoom:1;width:400px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis;}
.ly{float:left;overflow:hidden;width:345px;height:362px;margin-top:30px;margin-left:30px;}
.ly .hd{font-size:16px;padding:10px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;background:url(../images/zxdl2.png) no-repeat  8px bottom;}
.ly .bd{padding:10px;}
.ly .ly-hot{margin-bottom:10px;text-align:center;color:#fff;background:#000;}
.ly .ly-hot img{width:325px;height:120px;vertical-align:top;}
.ly .ly-hot .hot-name{display:block;padding:5px 0;color:#fff;}
.hot{clear:both;padding-top:30px;padding-bottom:30px;}
.hot .hd{font-size:16px;padding:10px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;background:url(../images/zxdl2.png) no-repeat  8px bottom;}
.hot .bd{padding:30px 10px;}
.hot li{float:left;overflow:hidden;width:260px;margin-left:45px;text-align:center;}
.hot li.first{margin-left:0;}
.hot li a{display:block;overflow:hidden;width:100%;padding-bottom:5px;vertical-align:top;white-space:nowrap;text-overflow:ellipsis;color:#333;}
.footer{margin-top:30px;padding:25px 0 35px 0;text-align:center;color:#565656;background:url(../images/f-bottom.png) no-repeat bottom center #1c1208;}
.footer p{padding:5px 0;}
.footer a{padding:0 5px;color:#81817e;}

/*side banner*/
.rslides{position:relative;overflow:hidden;width:100%;height:500px;margin:0;padding:0;list-style:none;}
.rslides li{position:absolute;top:0;left:0;display:none;width:100%;-webkit-backface-visibility:hidden;}
.rslides li:first-child{position:relative;display:block;float:left;}
.rslides img{display:block;float:left;width:100%;height:auto;border:0;}